<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Faizan's Portfolio</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <h1 class="name-h1">Hi I'm Faizan</h1>
  <h1 class="job-h1">Full-Stack Web Developer</h1>

<p class="short-des">I am a Front-End / Full-Stack Developer.<br> I am currently as a Freelancer and Tutor</p>

<a href="https://linkedin.com/in/mohdfaizan5"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
<a href="https://github.com/mohdfaizan5"><i class="fa-brands fa-github"></i>Github</a>
<a href=""><i class="fa-brands fa-twitter"></i>Twitter</a>

<p>
<button class="contact-btn">Contact Me</button>
</p>
</body>
</html>