<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/x-icon" href="C:\Users\Mohammed Faizan\Desktop\Python\Github\OurPortfolio\OurPortfolio_django\main\templates\portfolio1\favicon.png">

<style>
p {
  background-image: url('cloudBg-portfolio.png');
}
#element{
  color:  #7c3aed;
}
/* Animation */
.element {
  animation: animated-text 4s linear 1s 1 normal both,
             animated-cursor 600ms linear infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 456px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
</style>
</head>
<body>


  <h1>I'm</h1>
  <span id="element"></span>

  <script>
    var typed = new Typed('#element', {
      strings: ['Frontend Development', '  App Development','Marketing '],
      typeSpeed: 90,
    });
  </script> 
</body>
</html>

